.text-center{
    font-family: "Poetsen One", sans-serif;
    font-weight: 900;
    font-size: 60px;
}


.text h1{
    font-family: "Briem Hand", cursive;
    font-weight: 500;
    font-size: 30px;
}